body{
  margin: 0 auto;
}
.landingPage{
     margin: 0 auto 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F4F2;
    min-height:100vh;
}

h1 {
  font-family: 'Inconsolata', monospace;
  color: #2474C6;
  font-size: 5rem;
  margin: 0;
}

section p{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
}

section p.link {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

#about p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
}

h1, p, section{
  text-align: center;
}

code {
    background-color: #EFF0EE;
    padding: 1px;
    color: #C23054;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.25rem;
}

#tech-stack p{
  font-size: 1.5rem;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

article p{
  text-align: left;
}

article {
  margin: 5% 10%;
}

img {
  max-width: 50%;
  height: auto;
}